<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
    <div class="container-fluid">
    <a class="navbar-brand" href="index.html">
      <img class="rounded"src="https://yt3.ggpht.com/9upo5zbtXzvItj8IMHF1X9hI95x4YOeGCApLk1DhMQCHftmJvf2GWmbJXrC1TKCrn-AyQ2txBw=s900-c-k-c0x00ffffff-no-rj" width="120" height="100" class="d-inline-block align-text-top" alt="argentina programa"><span class="navbar-text" id="navbar-text">Argentina Programa - #YoProgramo</span> 
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active waves-effect waves-light tooltip-test" title="Visita mi facebook" aria-current="page" href="https://facebook.com">
            <i class="grey-text fab fa-facebook-square fa-2x px-1"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active waves-effect waves-light tooltip-test" title="Visita mi instagram" aria-current="page" href="https://instagram.com">
            <i class="grey-text fab fa-instagram fa-2x px-1"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light">
            <i class="grey-text fab fa-twitter fa-2x px-1"></i>
          </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button type="button" class="btn btn-outline-success my-2 my-sm-0 px-1" (click)="login()" *ngIf="!isLogged">Login</button>
        <button type="button" class="btn btn-outline-success my-2 my-sm-0 px-1" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesion</button>
      </form>
    </div>
    </div>
  </nav>
