<div class="card mat-card" id="first-card">
    <div id="profile-background">
      <img id="info-back-img" src="https://cdn.pixabay.com/photo/2019/04/10/11/56/watercolour-4116932_960_720.png">
    </div>
    <div id="info" style="padding: 16px">
      <div id="info-img">
        <img id="info-user-img" class="profile-image" [src]="Person.imgPerfil"></div>
        <div class="btn-edit">
          <button type="button" class="btn btn-right" data-toggle="modal" data-target="#myModalPerson" *ngIf="isLogged">
          <i class="fa fa-plus"></i>
          </button></div>
    </div>

    <div id="info-data">
      <div>
          <h1>{{Person.fullname}}</h1>         
          <div><span>{{Person.posicion}}</span></div>
          <div id="info-contact">
            <span>{{Person.ubicacion}}</span>            
          </div>          
      </div>       
      
    </div>

    <div id="info-actions">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#interes">Tengo interés en</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#contacto">Contacto</button>        
    </div>
    
</div>

<div class="card mat-card">
  <div class="card-titles">
      <h2 class="card-header">Acerca de mi</h2>
      <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
  </div>    
  <div id="about">
    <p>{{Person.acercade}}</p>
  </div>
</div>




<!--Modal NewPerson-->
<div class="modal fade" id="myModalPerson" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalPerson">Agregar Perfil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
          <div class="form-group">
              <label for="fullname">Nombre completo: </label>
              <input type="text" class="form-control" id="fullname" name="fullname" [(ngModel)]="fullname" required>
          </div>
          <div class="form-group">
              <label for="imgPerfil">Url Imagen Perfil</label>
              <input type="text" class="form-control" id="imgPerfil" name="imgPerfil" [(ngModel)]="imgPerfil" required>
          </div>
          <div class="form-group">
            <label for="posicion">Posicion: </label>
            <input type="text" class="form-control" id="posicion" name="posicion" [(ngModel)]="posicion" required>
          </div>
          <div class="form-group">
            <label for="ubicacion">Ubicacion: </label>
            <input type="text" class="form-control" id="ubicacion" name="ubicacion" [(ngModel)]="ubicacion" required>
          </div>
          <div class="form-group">
            <label for="contacto">Contacto: </label>
            <input type="text" class="form-control" id="contacto" name="contacto" [(ngModel)]="contacto" required>
          </div>
          <div class="form-group">
            <label for="interes">Tengo interes en: </label>
            <input type="text" class="form-control" id="interes" name="interes" [(ngModel)]="interes" required>
          </div>
          <div class="form-group">
            <label for="acercade">Acerca de mi: </label>
            <input type="text" class="form-control" id="acercade" name="acercade" [(ngModel)]="acercade" required>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Agregar Perfil</button>
          </div>         
        </form>
      </div>      
    </div>
  </div>
</div>





<!-- Modal Tengo interes en -->
<div class="modal fade" id="interes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
  <h5 class="modal-title" id="interes">Tengo interes en: </h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  {{Person.interes}}
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
  <button type="button" class="btn btn-primary">Guardar cambios</button>
</div>
</div>
</div>
</div>

<!-- Modal Contacto -->
<div class="modal fade" id="contacto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="contacto">Informacion de contacto: </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    {{Person.contacto}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
    <button type="button" class="btn btn-primary">Guardar cambios</button>
  </div>
  </div>
  </div>
  </div>


<!-- Modal Edit About 
<div class="modal fade" id="editAbout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar acerca de</h5>
        <button type="button" class="close" onclick="$('#editAbout').modal('hide');"  aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <label for="inputAbout">Sobre mi</label>
              <textarea type="text" class="form-control" id="inputAbout" placeholder="Escribe sobre ti"></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="$('#editAbout').modal('hide');" >Cerrar</button>
        <button type="button" class="btn btn-primary" onclick="saveEditAboutModal()">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>
-->