
<div class="container-fluid">

    <footer class="bg-light text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Social media -->
      <section class="mb-4">
        
        <a
          class="btn btn-floating m-1 waves-effect waves-light"          
          href="#!"
          role="button"
          ><i class="grey-text fab bi bi-facebook fa-2x px-1"></i
        ></a>
        
        <!-- Instagram -->
        <a
          class="btn btn-floating m-1 waves-effect waves-light"          
          href="#!"
          role="button"
          ><i class="grey-text fab bi bi-instagram fa-2x px-1"></i
        ></a>  
        
        <!-- Github -->
        <a
          class="btn btn-floating m-1 waves-effect waves-light"          
          href="#!"
          role="button"
          ><i class="grey-text fab bi bi-github fa-2x px-1"></i
        ></a>

        <!-- Whatsapp -->
        <a
          class="btn btn-floating m-1 waves-effect waves-light"          
          href="#!"
          role="button"
          ><i class="grey-text fab bi bi-whatsapp fa-2x px-1"></i
        ></a>

      </section>
      
    </div>
    
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="https://localhost:4200">Pablo Javier Cantero</a>
    </div>
    
  </footer>
    
  </div>
 
